.header {
  padding: $padding-base;
}
.header-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-lg;
  font-weight: 300;
  margin: 0;
  padding: 0;

}
